<head>
  <meta charset="utf-8" />
  <title>{{ .Title }}</title>

  {{ "<!-- mobile responsive meta -->" | safeHTML }}
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />

  {{ "<!-- Slick Carousel -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/slick/slick.css" | absURL }}" />
  <link rel="stylesheet" href="{{ "plugins/slick/slick-theme.css" | absURL }}" />
  {{ "<!-- Font Awesome -->" | safeHTML }}
  <link rel="stylesheet" href="{{ "plugins/font-awesome/css/font-awesome.min.css" | absURL }}" />

  {{ "<!-- Magnific Popup -->" | safeHTML }}
  <link rel="stylesheet" href="{{"plugins/magnafic-popup/magnific-popup.css" | absURL }}" />

  {{ "<!-- Stylesheets -->" | safeHTML }}
  {{ $style := resources.Get "scss/style.scss" | resources.ToCSS | minify }}
  <link href="{{ $style.Permalink }}" rel="stylesheet" />

  {{ "<!--Favicon-->" | safeHTML }}
  <link rel="shortcut icon" href="{{ "images/favicon.ico" | absURL }}" type="image/x-icon" />
  <link rel="icon" href="{{ "images/favicon.png" | absURL }}" type="image/x-icon" />
  {{ with site.Params.googleAnalytics }}
  {{ "<!-- Google Analytics -->" | safeHTML }}
  <script async src="https://www.googletagmanager.com/gtag/js?id={{ . }}"></script>
  <script>
    window.dataLayer = window.dataLayer || [];
    function gtag() { dataLayer.push(arguments); }
    gtag('js', new Date());

    gtag('config', '{{ . }}');
  </script>  
  
  <!-- Facebook Pixel Code -->
<script>
!function(f,b,e,v,n,t,s)
{if(f.fbq)return;n=f.fbq=function(){n.callMethod?
n.callMethod.apply(n,arguments):n.queue.push(arguments)};
if(!f._fbq)f._fbq=n;n.push=n;n.loaded=!0;n.version='2.0';
n.queue=[];t=b.createElement(e);t.async=!0;
t.src=v;s=b.getElementsByTagName(e)[0];
s.parentNode.insertBefore(t,s)}(window, document,'script',
'https://connect.facebook.net/en_US/fbevents.js');
fbq('init', '438602850742023');
fbq('track', 'PageView');
</script>
<noscript><img height="1" width="1" style="display:none"
src="https://www.facebook.com/tr?id=438602850742023&ev=PageView&noscript=1"
/></noscript>
<!-- End Facebook Pixel Code -->
<call-us 
     style="position: fixed; right: 20px; bottom: 20px; 
         font-family: Arial; 
         z-index: 99999; 
         --call-us-form-header-background:#186c77;
         --call-us-main-button-background:#05d6d6;
         --call-us-client-text-color:#d4d4d4;
         --call-us-agent-text-color:#eeeeee;
         --call-us-form-height:330px;" 
     id="wp-live-chat-by-3CX" 
     channel-url="https://rxearth.mi.3cx.us" 
     files-url="https://rxearth.mi.3cx.us" 
     minimized="true" 
     animation-style="none" 
     party="rxesupport" 
     minimized-style="BubbleRight" 
     allow-call="true" 
     allow-video="false" 
     allow-soundnotifications="true" 
     enable-mute="true" 
     enable-onmobile="true" 
     offline-enabled="true" 
     enable="true" 
     ignore-queueownership="false" 
     authentication="both" 
     operator-name="Support" 
     show-operator-actual-name="true" 
     channel="phone" 
     aknowledge-received="true" 
     gdpr-enabled="false" 
     gdpr-message="I agree that my personal data to be processed and for the use of cookies in order to engage in a chat processed by RxEarth, for the purpose of Chat/Support for the time of  30 day(s) as per the GDPR." 
     message-userinfo-format="both" 
     message-dateformat="both" 
     start-chat-button-text="Chat" 
     window-title="Live Chat & Talk" 
     button-icon-type="Default" 
     invite-message="Hello! How can we help you today?" 
     authentication-message="Could we have your name and email?" 
     unavailable-message="We are away, leave us a message!" 
     offline-finish-message="We received your message and we'll contact you soon." 
     ending-message="Your session is over. Please feel free to contact us again!" 
     greeting-visibility="none" 
     greeting-offline-visibility="none" 
     chat-delay="2000" 
     offline-name-message="Could we have your name?" 
     offline-email-message="Could we have your email?" 
     offline-form-invalid-name="I'm sorry, the provided name is not valid." 
     offline-form-maximum-characters-reached="Maximum characters reached" 
     offline-form-invalid-email="I'm sorry, that doesn't look like an email address. Can you try again?" 
     enable-direct-call="false" 
     enable-ga="false" 
     >
</call-us>


<script defer src="https://storage.googleapis.com/rx-e/callus.js" id="tcx-callus-js"></script>
  {{ end }}
</head>