//
// Colors
//
// General
$primary: #575757;
$secondary: #575757;
// Text
$headings-color: #575757;
$body-color: #7e7e8a;
//
// Typography
//
// Fonts
@import url("https://fonts.googleapis.com/css?family=Poppins:400,500,600,700,800,900|Yeseva+One&display=swap");
$font-family-base: "Poppins",
poppins;
$headings-font-family: "poppins",
cursive;
// Size
$font-size-base: 1.125rem; // 18px
$h1-font-size: 60px;
$h2-font-size: 50px;
$h3-font-size: 30px;
$h4-font-size: 25px;
$h5-font-size: 22px;
$h6-font-size: 16px;
// Spacing
$headings-margin-bottom: 1.5rem;
$line-height-base: 1.75;
// Misc
$link-hover-decoration: none;